.navbar{
    background-color: #A016F1ff !important;
}
.navbar a{
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}
.first-text h2{
    color: #A016F1ff;
    text-decoration: underline;
    text-align: center;
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.first-text p{
    text-align: center;
    padding-bottom: 20px;
}
.for{
    margin-bottom: 15px;
}
.button-22{
    margin-left: 170px;
    width: 240px;
}
.kate{
    width: 260px;
    display: inline-block;
}
.kate2{
    display: inline-block;
}
.button-12{
    color: black;
    background-color: white;
    border-color: black;
    margin-left: 110px;
    width: 340px;
    margin-bottom: 15px;
}
.button-12:hover{
    color: white;
    background-color: blue;
}
#money{
    text-align: center;
}
@media (max-width: 990px){
    .button-22{
        margin-left: 50px;
    }
    .kate{
        width: 150px;
    }
    .button-12{
        margin-left: 50px;
        width: 250px;
    }
    .head{
        padding-left: 110px;
        text-decoration: underline;
    }
    .collosal{
        text-align: center;
    }
}
.key{
    color: white;
    text-decoration: none;
}
.key:hover{
    color: white;
}
.imaging{
    max-width: 60px;
    height: 30px;
    padding-right: 25px;
}